server {
    listen {{ taiga_server_port }};
    server_name {{ taiga_server_ip }};

    large_client_header_buffers 4 32k;

    client_max_body_size 64M;

    charset utf-8;

    access_log off;
    error_log /home/{{ taiga_user }}/logs/nginx.error.log error;

    location ~* "v-(?:[0-9]{13}).*\.(?:css|js)$" {
        root {{ taiga_folder_front }}/dist/;
        expires 1y;
    }

    location ~* "(locale-([a-z]{2}))|(conf).json$" {
        root {{ taiga_folder_front }}/dist/;
        expires 1y;
    }

    location ~* "v-(?:[0-9]{13}).*\.(?:jpg|jpeg|gif|png|ico|cur|gz|svg|svgz|mp4|ogg|ogv|webm|htc)$" {
        root {{ taiga_folder_front }}/dist/;
        expires 1M;
        add_header Cache-Control "public";
    }

    # Frontend
    location / {
        root {{ taiga_folder_front }}/dist/;
        try_files $uri $uri/ /index.html;
        # add_header X-Frame-Options DENY;
    }

    # Backend
    location /api {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://127.0.0.1:8001/api;
        proxy_redirect off;
    }

    # Django admin access (/admin/)
    location /admin {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://127.0.0.1:8001$request_uri;
        proxy_redirect off;
        access_log /home/{{ taiga_user }}/logs/nginx.access.log;
    }

    # Static files
    location /static {
        # alias {{ taiga_folder_back }}/static;
        root {{ taiga_folder_back }};
        autoindex off;
    }

    # Media files
    location /media {
        # alias {{ taiga_folder_back }}/media;
        root {{ taiga_folder_back }};
        expires 1d;
    }

    include h5bp/directive-only/x-ua-compatible.conf;
    include h5bp/location/protect-system-files.conf;
}
