from .common import *

MEDIA_URL = "http://192.168.6.199:8080/media/"
STATIC_URL = "http://192.168.6.199:8080/static/"
ADMIN_MEDIA_PREFIX = "http://192.168.6.199:8080/static/admin/"
SITES["front"]["scheme"] = "http"
SITES["front"]["domain"] = "192.168.6.199"

# GRAVATAR_DEFAULT_AVATAR =  "http://192.168.6.199:8080/static/img/user-noimage.png"

SECRET_KEY = "theveryultratopsecretkey"
# openssl rand -base64 32

DEBUG = False
TEMPLATE_DEBUG = False
PUBLIC_REGISTER_ENABLED = False

# DEFAULT_FROM_EMAIL = "no-reply@example.com"
# SERVER_EMAIL = DEFAULT_FROM_EMAIL

# Uncomment and populate with proper connection parameters
# for enable email sending. EMAIL_HOST_USER should end by @domain.tld
#EMAIL_BACKEND = "django.core.mail.backends.smtp.EmailBackend"
#EMAIL_USE_TLS = False
#EMAIL_HOST = "localhost"
#EMAIL_HOST_USER = ""
#EMAIL_HOST_PASSWORD = ""
#EMAIL_PORT = 25

# Uncomment and populate with proper connection parameters
# for enable github login/singin.
#GITHUB_API_CLIENT_ID = "yourgithubclientid"
#GITHUB_API_CLIENT_SECRET = "yourgithubclientsecret"