# {{ ansible_managed }}

from .common import *
MEDIA_URL = "http://{{ taiga_server_ip }}:{{ taiga_server_port }}/media/"
STATIC_URL = "http://{{ taiga_server_ip }}:{{ taiga_server_port }}/static/"

ADMIN_MEDIA_PREFIX = "http://{{ taiga_server_ip }}:{{ taiga_server_port }}/static/admin/"

ALLOWED_HOSTS = ["{{ taiga_server_ip | default('*') }}", "localhost", "127.0.0.1", "[::1]"]


SITES["front"]["scheme"] = "http"
SITES["front"]["domain"] = "{{ taiga_server_ip }}"

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": "{{ taiga_database_name }}",
    }
}

MAX_AGE_AUTH_TOKEN = {{ max_age_auth_token | default('None') }}


SECRET_KEY = "theveryultratopsecretkey"
# openssl rand -base64 32

DEBUG = False
TEMPLATE_DEBUG = False
PUBLIC_REGISTER_ENABLED = False

CHANGE_NOTIFICATIONS_MIN_INTERVAL = 60 #seconds

TIME_ZONE = "Europe/Bratislava"

SEARCHES_MAX_RESULTS = 100

WEBHOOKS_ENABLED = True

MAX_PRIVATE_PROJECTS_PER_USER = 0 # None == no limit
MAX_PUBLIC_PROJECTS_PER_USER = 0 # None == no limit
MAX_MEMBERSHIPS_PRIVATE_PROJECTS = 0 # None == no limit
MAX_MEMBERSHIPS_PUBLIC_PROJECTS = None # None == no limit
