# {{ ansible_managed }}

server {
        listen {{ yap_port | default("80") }} default_server;
        # listen [::]:80 default_server ipv6only=on;

        root /home/yap/application/public;
        index index.php index.html index.htm;

        # Make site accessible from http://localhost/
        server_name {{ yap_server_ip }};

        charset utf-8;

        location = /favicon.ico { access_log off; log_not_found off; }
        location = /robots.txt  { access_log off; log_not_found off; }

        access_log off;

        error_log  /home/{{ yap_user }}/logs/yap-error.nginx.log error;

        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                try_files $uri $uri/ /index.php?$query_string;
                # Uncomment to enable naxsi on this location
                # include /etc/nginx/naxsi.rules
        }

        location ~ \.php$ {
                try_files $uri =404;
                fastcgi_split_path_info ^(.+\.php)(/.+)$;
                fastcgi_pass unix:/var/run/php/php7.1-fpm-{{ yap_user }}.sock;
                fastcgi_index index.php;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                include fastcgi_params;
        }

        include h5bp/basic.conf;
}
